  name: "{{ inventory_hostname }}"
  serverHardwareName: "{{ inventory_hostname }}.hpintelco.org"
  serverHardwareTypeName: DL380 Gen9 #"{{ server_hardware_type_name }}"
  managementProcessor: 
    manageMp: false
  bios:
    manageBios: false
  boot:
    order:
      - CD
      - USB
      - HardDisk
      - PXE
    manageBoot: false
  bootMode:
    manageMode: true
    mode: "BIOS"
    pxeBootPolicy: null
    secureBoot: "Unmanaged"
  localStorage:
    controllers: []
    reapplyState: NotApplying
    sasLogicalJBODs: []
  firmware:
{% if firmware %}
    firmwareActivationType: NotScheduled
    firmwareBaselineName: "Service Pack for ProLiant"
    firmwareInstallType: FirmwareOnly
    forceInstallFirmware: false
    manageFirmware: true
{% else %}
    manageFirmware: false
{% endif %}
  osDeploymentSettings: null